<template>
    <h1>PROGRAMMING LANGUAGES</h1>
    <section class="programming">
        <div class="planet">
        </div>
        <div class="circle">
         <!-- <span style="--i:1;"><object data="/public/assets/logo-salesforce.svg" width="150" height="150"> </object></span> -->
         <span style="--i:1;"><object data="/public/assets/javascriptlogo.svg" width="150" height="150"> </object>JAVASCRIPT</span>
         <span style="--i:2;"><object data="/public/assets/phpelephant.svg" width="150" height="150"> </object>PHP</span>
         <span style="--i:3;"><object data="/public/assets/pythonlogo.svg" width="150" height="150"> </object>PYTHON</span>
         <span style="--i:4;"><object data="/public/assets/rubylogo.svg" width="150" height="150"></object>RUBY</span>
        <!-- <span style="--i:6;"><object data="/public/assets/tibcologo.svg" width="150" height="150"> </object>TIBCO</span> -->
         <span style="--i:5;"><object data="/public/assets/javalogonotext.svg" width="150" height="150"> </object>JAVA</span>
        </div>

    </section>
    <section class="data-integrations">
        <div class="planet">
        </div>
        <div class="circle">
         <!-- <span style="--i:1;"><object data="/public/assets/logo-salesforce.svg" width="150" height="150"> </object></span> -->
        <span style="--i:1;"><object data="/public/assets/tibcologo.svg" width="150" height="150"> </object></span> -->
        </div>

    </section>

    <section>
        <div class="planet">
        </div>
        <div class="circle">
         <span style="--i:1;"><object data="/public/assets/logo-salesforce.svg" width="150" height="150"> </object></span>
         <span style="--i:2;"><object data="/public/assets/dynamics365logo.svg" width="150" height="150"> </object>DYNAMICS365</span>
        </div>

    </section>
     
</template>

</template>